# Exploratory Data Analysis

In [ ]:
import pandas as pd
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
 #pip install plotly

In [ ]:
#pip install openpyxl

In [ ]:
df = pd.read_excel("ANZ synthesised transaction dataset.xlsx")

In [ ]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [ ]:
df.head(50)

In [ ]:
df.loc[(df['first_name']=='Jeffrey') & (df['txn_description']=='PAY/SALARY')]

In [ ]:
df['txn_description'].unique()

In [ ]:
df.describe()

In [ ]:
df.shape

In [ ]:
df.isna().sum()

In [ ]:
len(df['first_name'].unique())

In [ ]:
df['merchant_code'].values

<div class="alert alert-block alert-success">
    Exploring our data brings us to the following  :
    <ul>
        <b><li> We have a dataset with a considerable shape of over twelve thousand rows</li></b>
        <li>
        <ul> we notice that there is a lot of missing data in the following columns : 
           <li> card_present_flag : 4326 missing values</li>
            <li>bpay_biller_code  : 11158 missing values</li>
           <li> merchant_id :4326 missing values</li>
           <li> merchant_suburb : 4326 missing values</li>
           <li> merchant_state : 4326 missing values</li>
            <li>merchant_long_lat : 4326 missing values<li>
        </ul>
        </li>
        <b><li> An average of amount equal to 187.93 and an average of balance equal to 14704.19</li></b>
        <b><li> We can also notice that the average age is around 30 </li></b>
    </ul>
</div >

In [ ]:
sns.set(rc={'figure.figsize':(30,15)})

In [ ]:
fig = px.histogram(df, x="txn_description")
fig.show()

<div class="alert alert-block alert-info">
    as we can see we have 6 types of transactions <br>
    POS transactions with a total of 3783<br>
    Sales-POS transactions with a total of 3934<br>
    Payment transactions with a total of 2600 <br>
    Inter Bank transactions with a total of 742<br>
    Salary transactions with a total of 883<br>
    Phone bank transactions with a total of 101<br>
</div >

In [ ]:
sns.jointplot(data=df, x="balance", y="amount",hue="age")

through this graph we are able to deduct that there is a condensation of transactions with an amount higher than the current balance in the range of 0-20000 and mostly by individuals with ages ranging from 20 to 40 years.

We are able to also notice the presence of outliers precisely in the transactions with very low amounts compared to very high balance values over 200000. this outliers presence is also noticed in exactly 4 transactions with amounts close to 9000 and with individuals having a balance close to 100000 with ages equal to 40.

In [ ]:
sns.pairplot(data=df, hue="movement")

<div class="alert alert-block alert-info">
    <b>the pair plot above gives us the following insights with respect to movement</b>  
    <ul>
        <li> when it comes to the the balance and amount we can notice that low amount transactions are made through debit movement whereas high amount transactions are made through debit</li>
        <li>Looking at the balance and age we can clearly notice the dominance of debit transactions</li>
        <li>now if we take a loot at the age and the amount we notice that the individuals with ages under 25 have a varied transactions amount reaching up to 4000 whereas between 25 and 50 the density of the amounts is under 2000 and all of this is with respect to the outliers exactly at the age of 40 reaching up to amounts of 8000</li>
    </ul>
</div >

In [ ]:
fig = px.density_heatmap(df, x="amount", y="merchant_state",text_auto=True)
fig.show()

<div class="alert alert-block alert-info">
    this density heat map shows us the correlation between the amount of the transactions compared to the merchants state. The density of the amount is mainly in the<b>  VIC and the NSW state with over 2000 transactions followed by the QLD state then WA state and finally the SA state by a total number of 397 transactions</b>
</div >

In [ ]:
fig = px.histogram(df, x="date",color="gender")
fig.update_layout(
    bargap=0.2, 
    bargroupgap=0.1 
)
fig.show()

<div class="alert alert-block alert-info">
    <b> Lets take a loot at the number of transactions in each month </b>
    <br>
    <p>looking at the histogram we notice a more or less an equality of the transactions made by each gender in every month as well as a close number of transactions from august to october over 200 except for august 19 we can notice a drop of 140 transactions  </p>
</div >

In [ ]:
sns.relplot(x="balance", y="merchant_state", hue="gender", size="balance",
           sizes=(40, 400), alpha=.5, palette="muted",
           height=6, data=df)

<div class="alert alert-block alert-info">
    <b> Lets take a look at the density of the balances in each state </b>
    <br>
    <p>looking at the plot we can clearly see that the density of the balances is ranginge from 0 to 70000 in the <b> WA ,SA,VIC,NSW and QLD</b>
        states. now if we look at merchants with high balances we will notice this presence mainly in the VIC and NSW states with balances ranging from 180000 to over 250000. this condensation of balances explains the amount of transactions madei n the VIC and WA states
    </p>
</div >

# Data Preparation

### Data Cleaning

In [ ]:
df.head()

### Feature Selection

let's start with dropping the codes as these values won't be adding any information to our model's training knowing that the code columns have over 4000 missing values

In [ ]:
df.drop(["bpay_biller_code","merchant_code"],axis='columns',inplace = True)

We will also need to drop the Ids

In [ ]:
df.drop(["transaction_id","customer_id","merchant_id"],axis='columns',inplace = True)

Since all of the transactions are in the AUD currency and the country is always australia we will not be needing these columns as well

In [ ]:
df.drop(["currency","country"],axis="columns",inplace= True)

As long as we have the gender our model will not be in need of the names so we will drop the column as well

In [ ]:
# df.drop("first_name",axis="columns",inplace=True)

We will also drop the acouunt reference as they are also code that will not contribute to the learning of our model

In [ ]:
df.drop("account",axis="columns",inplace=True)

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.isna().sum()

 we have 4326 of nan values, we can not lose this amout of rows so let's impute those values

### Data Imputation

#### The question here is whether our data is skewed or not ? let's visualize this for the card_present_flag

In [ ]:
df['card_present_flag'].unique()

In [ ]:
sns.displot(data=df,x="card_present_flag",hue="gender")

In [ ]:
sns.displot(data=df,x="merchant_state",hue="gender")

<div class="alert alert-block alert-success">
    Exploring the columns with missing data  :
    <ul>
        <li>
        <ul> we notice that the data is not normally distributed for all of the columns:
            <li>for the card_present_flag we notice the number of 1 values exceeds highly the number of 0 values</li>
            <li>for the merchant_state,merchant_suburb,merchant_long_lat we notice a high skewness in their distribution</li>
        </ul>
        </li>
        <b><li> For this reason we will opt for a median data imputation for the merchant_state,Mode for the merchant_suburb, random values for merchant_long_lat and for a random imputation for the card_present_flag</li></b>
    </ul>
</div >

Random imputation for the card_present_flag

In [ ]:
df['card_present_flag'] = df['card_present_flag'].fillna(pd.Series(np.random.choice([0,1], size=len(df.index))))

In [ ]:
df["card_present_flag"].isna().sum()

For the merchant state we can clearly notice a high skewness in the distribution and thus we will opt for median imputation

In [ ]:
merchant_state_freq = df['merchant_state'].value_counts()

In [ ]:
merchant_state_freq

In [ ]:
merchant_state_freq.median()

the median value is betweeb the SA state and the WA state. let's opt for the WA state and let it be the value for the data imputation in the merchant_state column

In [ ]:
df['merchant_state'].fillna("WA",inplace= True)

In [ ]:
df["merchant_state"].isna().sum()

moving on to the imputation of the merchant_suburb for. in this case we will use the Mode to fill the missing values

In [ ]:
merchant_suburb_freq = df["merchant_suburb"].value_counts()
merchant_suburb_freq

In [ ]:
# imputation with mode
df['merchant_suburb'].fillna("Melbourne", inplace = True)

In [ ]:
df["merchant_suburb"].isna().sum()

Finally we will fill the missing merchant_long_lat values with random values of the existing data since these are longitudes and we can not have the same value for 4000 cells

In [ ]:
merchant_long_lat_rand = df["merchant_long_lat"].unique().tolist()

In [ ]:
# filling the missing values of the merchant_long_lat with random not null existing values in the unique list prepared above
df['merchant_long_lat'] = df['merchant_long_lat'].fillna(pd.Series(np.random.choice(merchant_long_lat_rand, size=len(df.index))))

In [ ]:
df.head()

In [ ]:
df.isna().sum()

Now we have finished the data imputation in all of the 4 columns and we have 0 Nan values

### Feature Engineering

As features, we will be creating the annual salary feature, separating the date in to day month and year and also separating the longitude and latitude

#### Date Engineering

the date is in the format of yyyy-mm-dd so we will create three features for each

In [ ]:
def extract_date(df):
    #extracting year, month, day
    for i in range(len(df)):
        dates = df["date"]
        date = dates[i].to_pydatetime().date()
        year = date.year
        month = date.month
        day = date.day
        
    #affecting the values to columns
        df.loc[i,'year'] = year
        df.loc[i,'month'] = month
        df.loc[i,'day'] = day
    return df

In [ ]:
df = extract_date(df)

In [ ]:
df.drop(columns="date",inplace=True)

In [ ]:
df.head()

In [ ]:
fig = px.histogram(df, x="year", y="amount",
             color='first_name', barmode='group',
             height=400)
fig.show()

<div class="alert alert-block alert-info">
    Through this graph we can get a clear understanding of the amount of transactions conducted by each customer in the date range we have in the dataset
</div>

#### Extraction time engineering

we will extract now only the hours minutes and seconds HH:MM:SS only from the extraction feature

In [ ]:
def extraction_time(df):
    extraction_times = df["extraction"]
    for i in range(len(df)):
        extraction_time = df["extraction"][i]
        new_format_extraction = extraction_time[11:19]
        df.loc[i,"extraction"] = new_format_extraction
    
    return df

In [ ]:
df = extraction_time(df)

In [ ]:
df.head()

#### Longitude latitude engineering

We will now separate the longitude and latitude for both the marchant and the customer

In [ ]:
df.head()

In [ ]:
df["long_lat"]

In [ ]:
def long_lat_sep(df):
    
    customer_long_lat_list = df["long_lat"].tolist()
    merchant_long_lat_list = df["merchant_long_lat"].tolist()
    
    for i in range(len(df)):
        # separating customer longitude and latitude and affecting them into separate columns

        customer_long_lat = customer_long_lat_list[i].replace("-",' ')
        customer_long = customer_long_lat[0:6]    
        customer_lat = customer_long_lat[8:]
        df.loc[i,"customer_long"] = customer_long.strip(" ")
        df.loc[i,"customer_lat"] = customer_lat.strip(" ")
        
        # separating merchant longitude and latitude and affecting them into separate columns
        merchant_long_lat = merchant_long_lat_list[i].replace("-",' ')
        merchant_long = merchant_long_lat[0:6]
        merchant_lat = merchant_long_lat[8:]
        df.loc[i,"merchant_long"] =merchant_long.strip(" ")
        df.loc[i,"merchant_lat"] =merchant_lat.strip(" ")
    return df

In [ ]:
# import re
# def long_lat_sep2(df):
    
#     customer_long_lat_list = df["long_lat"].tolist()
#     merchant_long_lat_list = df["merchant_long_lat"].tolist()
    
#     for i in range(len(df)):
#         # separating customer longitude and latitude and affecting them into separate columns

        
#         customer_long_lat = customer_long_lat_list[i]
#         customer_long = re.findall(r'\d+\.\d+', customer_long_lat)[0]    
#         customer_lat = re.findall(r'\d+\.\d+', customer_long_lat)[1] 
#         print(customer_long)
#         print(customer_lat)
#         df.loc[i,"customer_long"] = float(customer_long)
#         df.loc[i,"customer_lat"] = float(customer_lat)
        
#         # separating merchant longitude and latitude and affecting them into separate columns
#         merchant_long_lat = merchant_long_lat_list[i]
#         merchant_long = re.findall(r'\d+\.\d+', merchant_long_lat)[0]  
#         merchant_lat = re.findall(r'\d+\.\d+', merchant_long_lat)[1]  
#         df.loc[i,"merchant_long"] = float(merchant_long)
#         df.loc[i,"merchant_lat"] = float(merchant_lat)
#     return df

In [ ]:
df = long_lat_sep(df)

In [ ]:
df.drop(columns=["merchant_long_lat","long_lat"],inplace=True)

In [ ]:
df.head()

<div class="alert alert-block alert-warning">
As we can see in the distribution of the weekly salaries follows no precise pattern in the dates we have in the dataset and this is why we will opt for an average weekly salary for each customer during these 3 months to determine later the annual salary
</div>

<div class="alert alert-block alert-success">
Now we will then move to extracting the annual salary of each customer. We actually have the transactions of the salary payment weekly in the range of the dates that we have  and in order to calculate the annual salary we will create a feature containing the weekly salary times 52 ( number of weeks in a year)
</div>

In [ ]:
# # extracting the salaries of each 
# def customer_salaries(df):
#     customer_names = df["first_name"].unique()
#     customer_salaries = {}
#     # iterating over the dataset and the names of the customers
#     for i in df.index:
#         for j in customer_names:
#             #making sure that we insert the salary of a customer only once in the dictionary
#             if j not in customer_salaries.keys():
#                 print("into the if and calculating salary")
#                 #extracting the average annual salary which is weekly salary of a customer * 52
#                 condition = (df["txn_description"]=="PAY/SALARY") & (df["first_name"] == j) 
#                 list_salaries = df.loc[condition,"amount"].tolist()
# #                 counter =0
# #                 while counter < len(list_salaries):
# #                 salary = (2*(list_salaries[counter]+list_salaries[counter+1]))
#                 salary  = (sum(list_salaries)/len(list_salaries))*52
# #                 if (df.loc[i,"first_name"]==j) & (df.loc[i,"txn_description"]=="PAY/SALARY"):
# #                     salary = 2*(df.loc[i,"amount"]+df.loc[i+1,"amount"])
# #                         salary = df.loc[i+1,"amount"]
#                 print("annual average salary of {0} is {1}".format(j,salary))
# #                 counter+=1
#                 customer_salaries[j] = salary
#                 print(customer_salaries[j])
    
# #   return customer_salaries
#     #Creating a new column in our dataframe named " Annual Salary"
#     df["Annual Salary"] = " "
#     #filling this column with the corresponding values with salary for each customer
#     for i in range(len(df)):
#         for name in list(customer_salaries.keys()):
#              if df.loc[i,"first_name"] == name:
#                 print(" first_name is {0} and name in the dictionary is {1} \n their average annual salary is {2} ".format(df.loc[i,"first_name"],name,customer_salaries[name]))
#                 df.loc[i,"Annual Salary"] = customer_salaries[name]
    
#     return df

In [ ]:
# extracting the salaries of each 
def customer_salaries(df):
    customer_names = df["first_name"].unique()
    customer_salaries = {}
    # iterating over the dataset and the names of the customers
    for i in df.index:
        for j in customer_names:
            #making sure that we insert the salary of a customer only once in the dictionary
            if j not in customer_salaries.keys():
                #extracting the average annual salary which is weekly salary of a customer * 52
                condition = (df["txn_description"]=="PAY/SALARY") & (df["first_name"] == j) 
                list_salaries = df.loc[condition,"amount"].tolist()
                salary  = (sum(list_salaries)/len(list_salaries))*52
                print("annual average salary of {0} is {1}".format(j,salary))
                customer_salaries[j] = salary
    
    
    #Creating a new column in our dataframe named " Annual Salary"
    df["Annual Salary"] = " "
    #filling this column with the corresponding values with salary for each customer
    for i in range(len(df)):
        for name in list(customer_salaries.keys()):
             if df.loc[i,"first_name"] == name:
                print(" first_name is {0} and name in the dictionary is {1} \n their average annual salary is {2} ".format(df.loc[i,"first_name"],name,customer_salaries[name]))
                df.loc[i,"Annual Salary"] = customer_salaries[name]
    
    return df

In [ ]:
# condition = (df["txn_description"]=="PAY/SALARY") & (df["first_name"] == "Michael")
# x = df.loc[condition,"amount"]
# x= x.tolist()
# type(x)
# counter  = 0
# while counter < len(x)-1:
#     s = x[counter]+x[counter+1]
#     counter+=1
#     print(s)

In [ ]:
df.reset_index(drop=True,inplace=True)

In [ ]:
df = customer_salaries(df)

In [ ]:
df.head(50)

In [ ]:
len(df["txn_description"].unique())

In [ ]:
df["merchant_suburb"].unique()

##### Let's visualize our data through the new features that we have added

In [ ]:
# # px.set_mapbox_access_token(open(".mapbox_token").read())
# # df = px.data.carshare()
# fig = px.scatter_mapbox(df, lat="customer_lat", lon="customer_long", color="gender", size="amount",
#                   color_continuous_scale=px.colors.cyclical.IceFire, size_max=15, zoom=10)
# fig.show()

### Outliers Handling

In [ ]:
sns.pairplot(data=df, hue="gender")

<div class="alert alert-block alert-info">
    Exploring the pairplots we can notice the following outliers :
    <ul>
        <li>  the presence of 4 transactions made by individuals with ages between 30 and 40 with amounts over 6000 which is of no weight compared to the density in this range of age. We need to delete these 4 rows </li>
        <li>comparing the balance to the amounts we notice also the presence of four transactions with amounts over 8000 with balances close to 100000 and this will create an imbalanced understanding of the model to our data </li>
        <li> A transaction with a card_present_flag equal to 0 and with an amount of 8000 compared to the density under 6000 as well as another one with a value equal to one</li>
        <li> <b>We will handle those outliers and delete them in order to keep our dataset balanced</b></li>
    </ul>
</div >

<div class="alert alert-block alert-info">
We notice also the presence of outliers of customers with annual salaries over 400k. we need that info and thus we will keep it
</div >

In [ ]:
df.shape

In [ ]:
df.loc[ (df["amount"]< 8000)].shape

In [ ]:
df =df.loc[ (df["amount"]< 5800)]

In [ ]:
df =df.loc[ (df["amount"]< 5800)]

In [ ]:
df.shape

In [ ]:
sns.pairplot(data=df, hue="gender")

Now we have handled the outliers let's move on to preparing our data for the modelling

### Data Encoding

##### Encoding our data into numeric values will allow our model to perform better as it only understands numeric values

we will not be encoding the whole dataset. we will use <b> One Hot encoding</b> for the transaction description,gender and movement columns

In [ ]:
df.head()

In [ ]:
def onehot_encode(df, column_dict):
    for column, prefix in column_dict.items():
        dummies = pd.get_dummies(df[column], prefix=prefix)
        df = pd.concat([df, dummies], axis=1)
        df = df.drop(column, axis=1)
    return df

In [ ]:
df = onehot_encode(df,
             {
                 'txn_description': 'transaction_desc_',
                 'gender': 'gender',
                 'merchant_state': 'merchant_state_',
                 'status': 'status_',
                 'movement':'movement_'
             })

### Feature Normalization

In [ ]:
# col_to_norm =["age","balance","amount","year","month","day","customer_long","customer_lat","merchant_long","merchant_lat"]
col_to_norm =["age","balance","amount","year","month","day"]

In [ ]:
def featureSelect(df_x):
    return df_x.drop(['Annual Salary'], axis=1), df_x['Annual Salary']

In [ ]:
def Normalization(X, scaler="minmax"):
    if scaler.upper() == "STANDARD":
        stand = StandardScaler()
        X_s = stand.fit_transform(X)
        return X_s
    else:
        minmax = MinMaxScaler()
        X_mm = minmax.fit_transform(X)
        return X_mm

In [ ]:
X, y = featureSelect(df)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.2)

In [ ]:
X_train[col_to_norm]= Normalization(X_train[col_to_norm], scaler="standard")
X_test[col_to_norm]= Normalization(X_test[col_to_norm], scaler="standard")

## <!-- <a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=63aa1e1d-14f8-4dc8-a516-1f254526fa1a' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a> -->

## Modelling